$base-bg: #D9D9D9;

$wrapper-width: 1200px;
$wrapper-bg: #EAEBED;

$header-bg: #fff;
$header-height: 80px;

$footer-bg: #525D62;
$footer-bg-dark: #394044;
$footer-height: 180px;

$top-spaces: (
  "lg": 64px,
  "md": 48px,
  "sm": 32px,
  "xs": 16px
)!default;
