{% extends 'base.html.twig' %}

{% block title %}Read {{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae consequuntur maiores quas, quos
    veniam! Amet magni, non odit pariatur quas quasi vel! Delectus distinctio excepturi modi perferendis sit?
</div>
<div>Adipisci corporis doloremque earum in. A corporis cumque delectus deserunt distinctio dolorem doloremque eaque,
    eius esse excepturi hic illo, minima nulla numquam obcaecati quia saepe sunt temporibus ut veniam voluptates!
</div>
<div>Beatae commodi cum ducimus ea eaque fuga illo incidunt iusto laboriosam molestias, nemo nobis soluta suscipit.
    Commodi, omnis, quas? Architecto cumque delectus fuga nisi odio pariatur sit tempore voluptate voluptatum.
</div>

<h2>Comments ({{ comments|length }})</h2>
<ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
</ul>
{% endblock %}